<ul>
    <li th:each="apply : ${applyList}">
        <a th:inst_id="${apply.instId}" th:bean_id="${apply.beanId}" onclick="clickOneProcess(this.getAttribute('inst_id'),this.getAttribute('bean_id'))" target="_blank">
            <span th:text="${apply.title}"></span>
        </a>
    </li>
</ul>

<style type="text/css">
    ul li{
        margin-bottom:15px;
    }
</style>

<script type="text/javascript" th:inline="none">
    function clickOneProcess(inistId,beanId) {
        debugger
        var userName = $("#currentUserName").text();
        window.location.href="/check/showApplication?instId="+inistId+"&beanId="+beanId+"&userName="+userName;
    }
</script>