<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">

    <script th:src="@{/common/js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/common/js/jquery.lazyload.min.js}"></script>
    <script th:src="@{/common/js/bootstrap.min.js}"></script>
    <script th:src="@{/common/js/jquery.ias.js}"></script>
    <script th:src="@{/common/js/login.js}"></script>

</head>
<body>
<div>
    <p>用户名</p><input id="userName" type="text"/>
    <p>密码</p><input type="password"/>
    <br />

    <input type="button" onclick="login()" value="登陆"/>
</div>
<div>

</div>


</body>
</html>